# {version}

## bzlmod
```python
bazel_dep(name = "rules_nasm", version = "{version}")

# configure the toolchain
register_toolchains(
    "@rules_nasm//nasm/toolchain",
    dev_dependency = True,
)
```

Additional documentation can be found at: https://morganwl.github.io/rules_nasm/
