build --remote_cache=https://storage.googleapis.com/rules-nasm-bazel-cache

test --extra_toolchains @nasm_test_toolchains//:all
test --remote_cache=https://storage.googleapis.com/rules-nasm-bazel-cache
