name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-14, macos-13]
        bazel_version: [7.0.0, latest]
        bzlmod: [true, false]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Test
        env:
          USE_BAZEL_VERSION: ${{ matrix.bazel_version }}
          USE_BZLMOD: ${{ matrix.bzlmod }}
        run:
          bazel test //...

