name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-13]
        bazel_version: [7.3.2, latest]
        bzlmod: [enable_bzlmod]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: 'read'
      packages: 'read'
      id-token: 'write'
    steps:
      - uses: bazel-contrib/setup-bazel@0.14.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - uses: actions/checkout@v4
      - name: Unit
        env:
          USE_BAZEL_VERSION: ${{ matrix.bazel_version }}
        run: |
          uname -a
          bazel query --output=build "@platforms//host:host"
          bazel mod show_extension rules_nasm//nasm:extensions.bzl%nasm
          bazel --bazelrc=${GITHUB_WORKSPACE}/.github/workflows/ci.bazelrc test //... --${{ matrix.bzlmod }}
      - name: e2e
        env:
          USE_BAZEL_VERSION: ${{ matrix.bazel_version }}
        run:
          e2e/test.sh --bazelrc=${GITHUB_WORKSPACE}/.github/workflows/ci.bazelrc
          --${{ matrix.bzlmod }}
