name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-13]
        bazel_version: [7.0.0, latest]
        bzlmod: [true, false]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: 'read'
      packages: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v4
      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          project_id: 'movieburn'
          workload_identity_provider: 'projects/294914671277/locations/global/workloadIdentityPools/movieburn-bazel/providers/movieburn-provider'
          service_account: 'mwl-service-account@movieburn.iam.gserviceaccount.com'
          token_format: 'access_token'
      - name: Test
        env:
          USE_BAZEL_VERSION: ${{ matrix.bazel_version }}
          USE_BZLMOD: ${{ matrix.bzlmod }}
        run:
          bazel test //tests/... \
            --google_credentials="${{ steps.auth.outputs.credentials_file_path }}"
