name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-13, "windows-2022"]
        bazel_version: [7.3.2, latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: 'read'
      packages: 'read'
      id-token: 'write'
    steps:
      - uses: bazel-contrib/setup-bazel@0.14.0
        with:
          bazelisk-cache: true
      - uses: actions/checkout@v4
      - name: Unit tests
        env:
          USE_BAZEL_VERSION: ${{ matrix.bazel_version }}
          BUILDBUDDY_API_KEY: ${{ secrets.BUILDBUDDY_API_KEY }}
        run:
          bazel
          --bazelrc="${GITHUB_WORKSPACE}/.github/workflows/ci.bazelrc"
          test //...
      - name: e2e tests
        env:
          USE_BAZEL_VERSION: ${{ matrix.bazel_version }}
          BUILDBUDDY_API_KEY: ${{ secrets.BUILDBUDDY_API_KEY }}
        run:
          e2e/test.sh
          --bazelrc=${GITHUB_WORKSPACE}/.github/workflows/ci.bazelrc

  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          clean: true
      - name: Buildifier
        run: |
          wget "https://github.com/bazelbuild/buildtools/releases/download/v${BUILDIFIER_VERSION}/buildifier-linux-amd64" -O buildifier
          chmod +x ./buildifier
          ./buildifier -lint=warn -mode=check -warnings=all -r ${{ github.workspace }}
          rm ./buildifier
        env:
          BUILDIFIER_VERSION: 8.0.2
