name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-13]
        bazel_version: [7.3.2, latest]
        bzlmod: [enable_bzlmod]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: 'read'
      packages: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v4
      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          project_id: 'movieburn'
          workload_identity_provider: 'projects/294914671277/locations/global/workloadIdentityPools/movieburn-bazel/providers/movieburn-provider'
          service_account: 'mwl-service-account@movieburn.iam.gserviceaccount.com'
          token_format: 'access_token'
      - name: Unit
        env:
          USE_BAZEL_VERSION: ${{ matrix.bazel_version }}
        run: |
          uname -a
          bazel query --output=build "@platforms//host:host"
          bazel mod show_extension rules_nasm//nasm:extensions.bzl%nasm
          bazel test //... --google_credentials="${{ steps.auth.outputs.credentials_file_path }}" --${{ matrix.bzlmod }} --bazelrc=${GITHUB_WORKSPACE}/.github/workflows/ci.bazelrc
      - name: Smoke
        working-directory: e2e/smoke
        env:
          USE_BAZEL_VERSION: ${{ matrix.bazel_version }}
        run:
          bazel test //... --google_credentials="${{ steps.auth.outputs.credentials_file_path }}" --${{ matrix.bzlmod }} --bazelrc=${GITHUB_WORKSPACE}/.github/workflows/ci.bazelrc
